[Unit]
Description=Archcversion sync and send mail

[Service]
Type=oneshot
ExecStart=/usr/bin/archversion sync
ExecStart=/usr/bin/archversion sendmail --fresh --new --sort
